.about-item{
    .who-text{
        font-size: 20px;
        line-height: 36px;
        color: #0b41cd;
        display: inline-block;
        margin-bottom: 20px;
    }
    .title{
        font-size: 48px;
        line-height: 36px;
        color: #052066;
        margin-bottom: 35px;
        
    }
    .desc{
        width: 516px;
        font-size: 20px;
        line-height: 32px;
        color: #052066;
        margin-bottom: 45px;
    }
}



@include max-1200{
    .about-item .desc{
        width: 100%;
    }
    
    .general-flex-content{
        column-gap: 30px;
    }
}


@include max-992 {
    
    .about-item{
        text-align: center;
    }
    .about-content{
        flex-direction: column-reverse;
    }
}

@include max-768 {
    .about-item .desc{
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
        font-size: 18px;
        line-height: 1.6;
    }
    .about-item{
        text-align: center;
    }
    .about-item .title{
        font-size: 30px;
        margin-bottom: 20px;
    }
   
    .about-item .who-text{
        font-size: 18px;
        margin-bottom: 10px;
    }
}