header{
    padding: 45px 30px 0;
    // max-width: 1340px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 15;
}

.es-container{
    max-width: 1340px;
    margin-left: auto;
    margin-right: auto;
}
body{
    padding-top: 203px;
}


.icon{
    display: block;
}

.sub-nav > li{
    transition: all ease-in-out .2s;
}

.fixed{
    -webkit-backdrop-filter:  blur(16px);
    backdrop-filter:  blur(16px);
    background-color: rgba(255, 255, 255, 0.9);
    // box-shadow: 0px 0px 4px rgba(14, 19, 24, .07) !important;
    box-shadow: 0px 0px 4px rgba(14, 19, 24, .07);
    .bottom-header-content{
        margin-top: 0;
    }
    .sub-nav > li{
        padding: 10px 0;
    }
    .logo img {
        height: 50px;
    }
    .bottom-header-content{
        .li-drop:hover .dropdown{
        transform: translateY(0px);
        }
    }
    .search-holder{
        top: 100%;
    }
    
    padding-top: 10px;
    position: fixed ;
    // top: 0;
    // left: 0;
    z-index: 20;
    transition: all linear .5s;
}



.stayTop {
    top: -210px;
    transition: all linear .5s;
  }
  
  



.navLink{
    font-size: 18px;
    color: #052066;
    text-transform: capitalize;
    transition: color ease-in-out .2s;
    &:hover{
        color: #0b41cd;
    }
}
.header-topContent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.icons-holder{
    display: flex;
    align-items: center;
    .line{
        width: 1px;
        height: 20px;
        background-color: #b3b3b3;
        margin: 0 36px;
    }
 }

.main-nav{
    display: flex;
    align-items: center;
    ul{
        display: flex;
        align-items: center;
        li {
            margin-inline-end: 40px;
        }
        li:last-of-type{
            margin-inline-end: 0;
        }
    }
   
}
.search-lang{
    display: flex;
    align-items: center;
    .icon{
        font-size: 22px;
        color: #052066;
    }
    .searchBtn {
        margin-inline-start: 35px;
    }
}

.bottom-header-content{
    // margin-top: 10px;
    .navLink{
        font-size: 20px;
        border: 4px solid transparent;
        line-height: 30px;
        &:hover{
            color: #052066;
        }
    }
   
}
.sub-nav {
    display: flex;
    align-items: center;
    > li {
        margin-inline-end: 50px;
        // padding: 20px 0;
        padding-top: 5px;
        padding-bottom: 20px;
        // padding-bottom: 50px;
        position: relative;
        &:hover{
            .navLink{
                border-bottom-color: #0b41cd;
            }
            
        }
    }
    > li:last-of-type {
        margin-inline-end: 0;
    }
}

.lang{
    display: block;
    cursor: pointer;
}

.li-drop{
    position: relative;
    &:hover{
        .dropdown{
            transform: translateY(15px);
            opacity: 1;
            visibility: visible;
        }
    }
    .dropdown{
        transition: all ease-in 0.15s;
        position: absolute;
        inset-inline-start: -27px;
        z-index: 10;
        transform: translateY(4rem);
        padding: 16px 17px;
        white-space: nowrap;
        opacity: 0;
        visibility: hidden;
        width: 333px;
        filter: drop-shadow(0 0 10px rgba(0,0,0,0.1));
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        li {
            width: 100%;
            &:hover{
                background-color: #f2f2f2;
                a{
                    color: #0b41cd;
                }
            }
            a{
                padding: 10px;
                border-radius: 3px;
                font-size: 20px;
                color: #052066;
                display: block;
            }
        }
    }
}

.arabic{
    font-family: "sky";
}
.english{
    font-family: "fontspring";
}

.lang-drop {
    height: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
    .dropdown{
        opacity: 0;
        visibility: hidden;
        width: 135px;
        inset-inline-start: unset;
        left: 50%;
        transform: translateY(8rem) translateX(-50%);
        padding: 8px;
        li{
            text-align: center;
            a{
                padding: 7px;
                font-size: 17px;
            }
        }
    }
    &:hover{
        .dropdown{
            transform:  translateX(-50%) translateY(4.3rem);
        }
    }
}


// Search 


.search-holder{
    transition: all linear .2s;
    // position: absolute;
    // z-index: 2;
    margin-top: 7px;
    
    opacity: 0;
    visibility: hidden;
    top: 100%;
    // left: 0;
    width: 100%;
    height: 60px;
    padding: 0;
    background-color: #EEF1FC;
    transform: translateY(25px);
     justify-content: center;
     align-items: flex-start;
    // z-index: 5;
}


.search-holder-input{
    width: 100%;
    height: 100%;
    border-radius: 0;
    padding-inline-start: 30px;
    padding-inline-end: 65px;
    // padding: 0 65px 0 30px;
    display: flex;
    align-items: center;
    position: relative;
    form{
        display: block;
        width: 100%;
    }
}
.search-holder-input input{
    width: 100%;
    color: #000;
    height: 100%;
    display: block;
    border: none;
    background-color: transparent;
    padding: 0 25px;
    outline: none ;
    transition: all linear 0.3s;
    font-size: 20px;
  
    &::placeholder{
        font-weight: 300;
        font-size: 20px;
        vertical-align: middle;
        color: #999999;
    }
}


.searchButton{
    i{
    font-size: 22px;
    color: #d8dcec;
    }
}

.searchButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    inset-inline-start: 20px;
}







 .nav-icons-holder{
    display: flex;
    align-items: center;
 }




 
.show-user-account{
    opacity: 1  ;
    visibility: visible  ;
}


  .open-search {
    top: 0  ;
    transition: all linear .3s  ;
}


.overflow-hidden {
    overflow: hidden;
}

  


  .show-searchBox{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .closeNavBtn{
    .icon{
        font-size: 25px;
        color: #052066;
    }
  }


  @include min-992 {
    .sub-nav > li.paddingTop-0{
        padding-top: 0;
    }
    .bars{
        display: none;
    }
    .nav-closeLang-holder{
        display: none;
    }
    .main-nav .sub-nav{
        display: none;
    }
  }


@include max-992 {
    .search-holder{
        height: 50px;
    }
    .lang-drop{
        height: auto;
    }
    .icons-holder .lang-drop{
        display: none;
    }
    .sub-nav > li:hover .navLink{
        color: #052066;
    }
    .fixed{
        padding-bottom: 10px;
    }
    .fixed .logo img{
        height: auto;
    }

    body{
        padding-top: 82px;
    }
    .search-input-holder{
        width: 60%;
    }
    .search-lang .searchBtn{
        margin-inline-start: 0;
        margin-inline-end: 30px;
    }
    .bars{
        .icon{
            font-size: 22px;
            color: #052066;
        }
       
    }
    .search-lang .lang{
        display: none;
    }
    .icons-holder .line{
        display: none;
    }
    .bottom-header-content{
        display: none;
    }
    .sub-nav{
        display: flex;
    }
    .sub-nav > li{
        padding: 0;
    }
    .nav-closeLang-holder .icon,  .lang .icon{
        font-size: 25px;
        color: #052066;
    }
    .nav-closeLang-holder{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding:  20px;
        border-bottom: 1px solid #dbd6d1;
    }
    .main-nav{
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
       > ul{
            flex-direction: column;
            border-bottom: 1px solid #dbd6d1;
            padding: 25px  0 20px 0 ;
            width: 100%;
            align-items: flex-start;
            li{
                margin-inline-end: 0;
                margin-bottom: 20px;
            }
            li:last-of-type{
                margin-bottom: 0;
            }
            .navLink{
                font-size: 22px;
            }
    
        }
    }
    header{
       padding:  20px 25px 0 ;
    }
    .mob-Nav{
        transition: all ease-in .2s;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-30px);
        display: flex;
        overflow-y: auto;
        padding-bottom: 50px;
    //    padding-left: 20px;
    //    padding-right: 20px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        z-index: 10;
        flex-direction: column;
    }
    .main-nav .li-drop{
        .navLink{
            display: flex;
            align-items: center;
            justify-content: space-between;
            &::after{
                content: "\f078";
                font-family: "Font Awesome 6 Free";
                font-weight: 900;
                position: relative;
                color: #052066;
                font-size: 15px;
                transition: transform ease-in-out .2s;
            }
        }
        width: 100%;
        &:hover{
            .dropdown{
                transform: unset;
            }
        }
        
        .dropdown{
            display: none;
            padding-left: 0;
            padding-right: 0;
            position: relative;
            opacity: 1;
            visibility: visible;
            filter: none;
            transform: translateY(0);
            inset-inline-start: unset;
            width: auto;
            transition: none;
        }
    } 
    .li-drop .dropdown li{
        border-inline-start: 1px solid #dbd6d1;
        margin-bottom: 0;
        padding: 12px 0;
        padding-inline-start: 20px;
        &:hover{
        background-color: transparent;
        }
        a{
            color: #0b41cd;
            padding: 0;
            border-radius: 0;
            font-size: 18px;
        }
    }

    .closeSearch-btn .icon{
        font-size: 25px;
    }


    .lang-drop{
        .dropdown{
            width: 115px;
            padding: 7px;
            // opacity: 1;
            top: calc(100% + 12px);
            // visibility: visible;
            inset-inline-start: 0;
            transform: translateY(0);
         
            li{
                border: none;
                padding: 7px 0;
                padding-inline-start: unset;
                &:hover{
                    background-color: #f2f2f2;
                    a{
                        color: #0b41cd;
                    }
                }
                a{
                    color: #052066;
                    font-size: 16px;
                }
            }
        }
        &:hover .dropdown{
            transform: translateY(0);
        }
      
    } 
  



    }
   

  
.show-sideBar{
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}


@include max-768 {
   
   
    .searchButton i{
        font-size: 18px;
    }
    .search-holder-input{
        padding: 0 20px;
    }
   
    .search-holder-input input{
        padding: 0 25px;
    }
    .fixed{
        padding: 10px 20px;
    }
    body {
        padding-top: 112.43px;
    }
    header{
        padding: 15px 20px 0;
    }
    .nav-closeLang-holder .icon , .closeNavBtn .icon {
        font-size: 23px;
    }
    .search-input-holder{
        width: 85%;
    }
    .logo  {
        img{
            width: 75px;
        }
    }
}