.join{
    padding-top: 50px;
    padding-bottom: 110px;
}
.join-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 60px;
    height: 200px;
    background-image: url(../images/join/01.png) , linear-gradient(90deg, rgba(0,0,0,0.1) 0%, rgba(11,65,205,1) 50%);
    background-repeat: no-repeat;
    background-position:  0 73%;
    .text{
        font-size: 40px;
        color: #ffffff;
        margin: 0;
    }
   
}




@include max-992 {
    .join-content .text{
        font-size: 23px;
    }
    .join-content{
        padding: 35px;
    }
}


@include max-768 {
    .join{
        padding-bottom: 50px;
    }
    .join-content{
        flex-direction: column;
        padding: 80px 15px;
        height: unset;
        min-height: 200px;
        background-position: 76% 70%;
    }
    .join-content .text{
        text-align: center;
        margin-bottom: 20px;
        line-height: 1.4;
    }
}