.join{
    padding-top: 50px;
    padding-bottom: 110px;
}
.join-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 75px;
    height: 200px;
    background-image: url(../images/join/01.png) , linear-gradient(90deg, rgba(0,0,0,0.1) 0%, rgba(11,65,205,1) 50%);
    background-repeat: no-repeat;
    background-position:  0 73%;

    .join-btn{
        padding: 15.5px 37px;
    }
    .text{
        font-size: 40px;
        color: #ffffff;
        margin: 0;
    }
    .join-btn{
        min-width: 180px;
        text-align: center;
        white-space: nowrap;
        font-size: 18px;
        text-transform: uppercase;
        color: #ffffff;
        border: 1px solid #ffffff;
        &:hover{
            background-color: #ffffff;
            color:#0b41cd ;
        }
    }
}


@include max-992 {
    .join-content .text{
        font-size: 23px;
    }
    .join-content{
        padding: 35px;
    }
    .join-content .join-btn{
        padding: 12px 30px;
        font-size: 16px;
        min-width: unset;
    }
}


@include max-768 {
    .join{
        padding-bottom: 50px;
    }
    .join-content{
        flex-direction: column;
        padding: 30px 15px;
        height: unset;
        min-height: 200px;
        // height: auto;
        background-position: 45% 71%;
    }
    .join-content .text{
        text-align: center;
        margin-bottom: 20px;
        line-height: 1.4;
    }
}