*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-weight: 400;
  font-style: normal;
  font-family: 'fontspring' ;
}
html[dir="rtl"]{
  body {
    font-family: 'sky' ;
  }
}

section{
  max-width: 100%;
  overflow: hidden;
}



.item-parent{
  position: relative;
}
img {
  image-rendering: -webkit-optimize-contrast ;
}

.es_ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


.general-products-sec{
  padding: 60px 0 70px 0;
}



.es_ancor_btn {
  color: black;
  text-decoration: none;
  display: inline-block;
  padding: 0;
  &:hover{
    text-decoration: none;
    color: black;
  }
  &:focus{
    text-decoration: none;
    outline: none;
  }
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}



::-webkit-scrollbar {
  width: 8px;
  height: 3px;
}

::-webkit-scrollbar-thumb {
  background: $light_blue;
  border-radius: 15px;
}

::-webkit-scrollbar-track{
  background-color: #dbe5ff;
}





// back-up
.toTop{
  width: 40px;
  height: 40px;
  filter: drop-shadow(0 0 12px rgba(0,0,0,0.15));
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  position: fixed;
  z-index: 10;
  right: 20px;
  bottom: 20px;
  transition: all linear .3s;
  opacity: 0;
  visibility: hidden;
  &:hover{
      background-color: $light_blue;
      .toTop-icon{
        color: #fff;
      }
  }
  &:focus {
    border: none;
    outline: none;
  }
  .toTop-icon{
      font-size: 14px;
      color: #b4b4b4;
      transition: all linear .2s;
  }
}

.showToTop{
  opacity: 1;
  visibility: visible;
}





@include min-1200{
  .container, .container-lg, .container-md, .container-sm, .container-xl{
    max-width: 1170px;
  }
}

@include max-768 {
  .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl{
    padding-right: 20px;
    padding-left: 20px;
  }
  .toTop{
    right: 10px;
    bottom: 10px;
  }
 
}












