// @font-face {
//   font-family: 'fontspring';
//   src: url('../fonts/site-fonts/FONTSPRINGDEMO-CompitaRegular.woff2') format('woff2'),
//       url('../fonts/site-fonts/FONTSPRINGDEMO-CompitaRegular.woff') format('woff'),
//       url('../fonts/site-fonts/FONTSPRINGDEMO-CompitaRegular.ttf') format('truetype');
//   font-weight: 400;
//   font-style: normal;
//   font-display: swap;
// }



@font-face {
  font-family: 'Noto Sans JP';
  src: url('../fonts/site-fonts/NotoSansJP-Thin.woff2') format('woff2'),
      url('../fonts/site-fonts/NotoSansJP-Thin.woff') format('woff'),
      url('../fonts/site-fonts/NotoSansJP-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}




@font-face {
  font-family: 'sky';
  src: url('../../../fonts/site-fonts/HelveticaNeueW23forSKY-Reg.woff2') format('woff2'),
      url('../../../fonts/site-fonts/HelveticaNeueW23forSKY-Reg.woff') format('woff'),
      url('../../../fonts/site-fonts/HelveticaNeueW23forSKY-Reg.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}